@import "bourbon/bourbon"
@import "variables"


body
	font-family: $ptserif
	line-height: 1.4em
a
	color: darken($base, 10%)
	&:hover
		text-decoration: none
p
	&.description
		font-family: $ptcaption
		font-size: 16px
		line-height: 25px
		margin-bottom: 30px
	font-family: 16px
	margin-bottom: 24px

h1
	font-family: $ptsans
	font-size: 40px
	font-weight: 700
	margin-bottom: 24px
	line-height: 1.2em

h2
	font-family: $ptserif
	font-size: 24px
	margin-bottom: 12px
	font-style: italic
	line-height: 1.4em

h3
	font-family: $ptsans
	font-size: 20px
	line-height: 25px
	margin-bottom: 10px
	font-style: italic

ol
	margin: 12px 0px 12px 24px
	li
		list-style-position: outside
		margin-bottom: 6px 

ul
	margin: 12px 0px 12px 36px 
	li
		list-style: disc outside 
		margin-bottom: 6px 

.wrapper
	padding-top: 30px

footer
	text-align: center
	padding: 24px

