@import "bourbon/bourbon"

/* Colors */
$clean: #fff
$base: #333
/* /Colors */

/* Fonts */
$roboto: 'Roboto'
$ptsans: 'PT Sans', sans-serif
$ptserif: 'PT Serif', serif
$ptcaption: 'PT Sans Caption', sans-serif
/* /Fonts */

/* Colors */
$white: #fff
$base: #242424
$normal: #999
$alert: #d40808
$kodeks-default: #0086ee
$cntd-default: #ff7200
$buh-default: #eeeb00
$promo-default: #089c01
$action-default: #ae00ee
/* /Colors */

.post
	margin-bottom: 96px

.post_info
	font-family: $ptserif
	margin-bottom: 20px
	strong
		font-family: $ptsans
		font-weight: bold

.post_more
	text-align: left

.post_read
	display: none

